// Buttons
// 
// General button usage
//
// Markup:  
// <button class="button {$modifiers}">Button</button>
// <a href="#" class="button {$modifiers}">Link</a>
// <input type="button" value="input[type='button']" class="button {$modifiers}">
//
// :hover    - Hovered button  
// :disabled - Button is disabled  
// .button--primary - Primary button for main action  
// .button--secondary - Secondary button
//
// Styleguide 1

$default-button-color: get-color("background");
$hover-button-color: get-color("background","light");
$disabled-button-color: get-color("background","dark");
$primary-button-color: get-color("primary");
$secondary-button-color: get-color("secondary");
$button-text-dark: get-color("text");
$button-text-light: get-color("text","white");
$shdow-color: get-color("shadow");

%button {
    text-transform: uppercase;
    border: none;
    border-radius: $input-border-radius;
    box-shadow: 0 2px 2px $shdow-color;
    padding: ($base-line-mobile / 2);
    display: block;
    width: 100%;
    margin-bottom: $base-line-mobile;
    color: $button-text-light;

    &:active {
        box-shadow: 0 0 1px $shdow-color;
    }

    &:active,
    &:visited,
    &:active,
    &:hover {
      color: $button-text-light;
    }

    &:hover {
        background-color: $hover-button-color;
    }

    &:disabled {
        color: $button-text-dark;
        background-color: $disabled-button-color;
    }

    @include mappy-bp(baseline) {
        padding: ($base-line-gtmobile / 2);
        display: inline-block;
        vertical-align: middle;
        width: auto;
        margin-bottom: $base-line-gtmobile;
    }

    textarea + & {
        margin-top: $base-line-mobile;

        @include mappy-bp(baseline) {
            margin-top: $base-line-gtmobile;
        }
    }
}

.button {
    @extend %button;
    background-color: $default-button-color;

    &--primary {
        background-color: $primary-button-color;
    }

    &--secondary {
        background-color: $secondary-button-color;
    }
}