.basic-list {

}
.basic-list__item + .basic-list__item {
    margin-top: $base-line-mobile;

    @include mappy-bp(baseline) {
        margin-top: $base-line-gtmobile;
    }
}

.basic-list--small {
    .basic-list__item + .basic-list__item {
        margin-top: 0;

        @include mappy-bp(baseline) {
            margin-top: 0;
        }
    }
}