.basic-list {

}
.basic-list__item + .basic-list__item {
    margin-top: $base-line-mobile;

    @media #{$scale-mobile-query} {
        margin-top: $base-line-gtmobile;
    }
}

.basic-list--small {
    .basic-list__item + .basic-list__item {
        margin-top: 0;

        @media #{$scale-mobile-query} {
            margin-top: 0;
        }
    }
}