.main-navi {
    display: block;
    margin-top: $base-line-mobile;

    @include mappy-bp(baseline) {
        display: inline-block;
        margin-top: $base-line-gtmobile;
    }
}

.main-navi__list {
    display: flex;
    //justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0,0,0,0.3);

    @include mappy-bp(baseline) {
        //justify-content: flex-start;
    }
}

.main-navi__item {
    flex-grow: 1;

    & + & {
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    @include mappy-bp(baseline) {
        flex-grow: 0;
    }
}

.main-navi__link {
    display: block;
    height: 100%;
    padding: calc(#{$base-line-mobile}/2 - 1px);
    text-align: center;

    @include mappy-bp(baseline) {
        padding: calc(#{$base-line-gtmobile}/2 - 1px);
    }
}