%tablebasic {
    width: 100%;
    margin-bottom: $base-line-mobile;

    @media #{$scale-mobile-query} {
        margin-bottom: $base-line-gtmobile;
    }

    th,td {
        text-align: left;
        padding: $input-half-padding;

        @media #{$scale-mobile-query} {
            padding: $input-half-padding2;
        }        
    }
}
.basic-table {
    @extend %tablebasic;

    &--border {
        @extend %tablebasic;

        th,td {
            padding-top: calc(#{$input-half-padding} - 1px);
            border-bottom: 1px solid #DDD;

            @media #{$scale-mobile-query} {
                padding-top: calc(#{$input-half-padding2} - 1px);
            }
        }

    }
}
