.kss-mod-desc-group {
    p {
        margin: 0;
    }
}

.kss-markup {
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;

    pre {
        margin: 0;
        line-height: 1.25rem;
    }
}

.kss-mod-desc {
    background-color: rgba(0,0,0,0.1);
}