// multiply with scalefactor
@function font-scale($times:0, $intscale:$scale-mobile){
    $fontsize: $base-font-size;

    @if $times > 0 {
        @while $times > 0 {
            $fontsize: $fontsize * $intscale;
            $times: $times - 1;
        }
    }
    @if $times < 0 {
        @while $times < 0 {
            $fontsize: $fontsize / $intscale;
            $times: $times + 1;
        }
    }

    @return $fontsize;
}

// add a line-height, till font-size fits in
@function get-lineheight($times:0, $intscale:$scale-mobile, $height:$base-line-mobile){
    $fontsize: font-scale($times,$intscale);
    $lineheight: $height;

    @while $fontsize > $lineheight {
        $lineheight: $lineheight + $height;
    }

    @return $lineheight;
}

