@mixin font-and-line($times:0, $intscale:$scale-mobile, $height:$base-line-mobile){
    font-size: font-scale($times,$intscale);
    line-height: get-lineheight($times,$intscale,$height);
};

// Clearfix
// 
// Used to clear floats, and prevent parent elements from collapsing
// 
// Markup: @mixin clearfix()
// 
// Compatible in IE6+, Firefox 2+, Safari 4+.

@mixin clearfix(){
    zoom: 1;

    &:before, 
    &:after { 
        content: ""; 
        display: table; 
    } 

    &:after { 
        clear: both; 
    }
}