//typography
$scale-mobile-query: "screen and (min-width: 30em)";
$base-font-size: 1rem;
$base-line-mobile: 1.25rem;
$base-line-gtmobile: 1.5rem;
$scale-mobile: 1.25;
$scale-mobile-gtmobile: 1.5;

//colors
$primary-color: #666;
$secondary-color: #DDD;