//breakpoints; major and minor
$breakpoints: (
    'small': 320px,
    'medium': 480px,
    'baseline': 480px
);

//typography
$scale-mobile-query: "screen and (min-width: 30em)";
$base-font-size: 16px; //html
$body-font-size: 1rem; //body
$base-line-mobile: 1.25rem;
$base-line-gtmobile: 1.5rem;
$scale-mobile: 1.25;
$scale-mobile-gtmobile: 1.5;

$rwd-typography: (
    default: (
        base-line-height: 1.25rem,
        type-scale: 1.25,
        min-width: null
    ),
    medium: (
        base-line-height: 1.5rem,
        type-scale: 1.5,
        min-width: 30em
    )
);

$rwd-scale-labels: (p, bq, sh, h, hero);

//colors
$colors: (
    primary: (
        
    ),
    secondary: (

    )
)
$primary-color: #666;
$secondary-color: #DDD;