// Typography
// 
// Font sizes, styling and used webfonts.
// 
// Styleguide 2

// Headlines
// 
// Markup:
// <h1>Headline Level 1</h1>
// <h2>Headline Level 2</h2>
// <h3>Headline Level 3</h3>
// <h4>Headline Level 4</h4>
// <h5>Headline Level 5</h5>
// <h6>Headline Level 6</h6>
// 
// Styleguide 2.1

// Paragraphs
// 
// Markup:
// <p>Paragraph (body): Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>  
//
// Styleguide 2.2

// Code
// 
// Markup:
// <pre><code>var foo = array("bar","baz");</code></pre>
// 
// Styleguide 2.3

// Inline text
// 
// Markup:
// <a href="#!">This is a text link</a>.<br>
// <strong>Strong is used to indicate strong importance.</strong><br>
// <em>This text has added emphasis.</em><br>
// The <b>b element</b> is stylistically different text from normal text, without any special importance.<br>
// The <i>i element</i> is text that is offset from the normal text.<br>
// The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation.<br>
// <del>This text is deleted</del> and <ins>This text is inserted</ins>.<br>
// <s>This text has a strikethrough</s>.<br>
// Superscript<sup>®</sup>.<br>
// Subscript for things like H<sub>2</sub>O.<br>
// <small>This small text is small for for fine print, etc.</small><br>
// Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr><br>
// <q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation.</q><br>
// <cite>This is a citation.</cite><br>
// The <dfn>dfn element</dfn> indicates a definition.<br>
// The <mark>mark element</mark> indicates a highlight.<br>
// The <var>variable element</var>, such as <var>x</var> = <var>y</var>.<br>
// The time element: <time datetime="2013-04-06T12:32+00:00">2 weeks ago</time>
// 
// Styleguide 2.4

html {
    font-size: $base-font-size;
}

/* debug */
body.debug {
    background-image: linear-gradient(transparent 19px, rgba(255,0,0,0.5) 19px);
    background-size: 20px 20px;

    @include mappy-bp(baseline) {
        background-image: linear-gradient(transparent 23px, rgba(255,0,0,0.5) 23px);
        background-size: 24px 24px;
    }
}


// loop to generate font %placeholders
@each $label in $rwd-scale-labels {
    %#{$label} {
        @each $breakpoint, $data in $rwd-typography {
            $generated-values: rwd-generate-font-size($label, $breakpoint);
            $font-size: nth($generated-values, 1);
            $line-height: nth($generated-values, 2);

            @if map-get($data, min-width) != null { //CHECK != syntax
                @media screen and (min-width: map-get($data, min-width)) {
                    font-size: $font-size;
                    line-height: $line-height;
                }
            }
            @else {
                font-size: $font-size;
                line-height: $line-height;
            }
        }
    }
}

body {
    @extend %p;
    color: get-color("text");
}



h1 {
    @extend %h;

    margin-top: $base-line-mobile * 2;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }
}

h2 {
    @extend %sh;

    margin-top: $base-line-mobile * 2;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }
}

h3 {
    @extend %bq;

    margin-top: $base-line-mobile * 1;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }
}

h4 {
    @extend %p;

    margin-top: $base-line-mobile * 1;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }

}

h5,
h6 {
    font-size: $base-font-size / map-get(map-get($rwd-typography, "default"), "type-scale");
    margin-top: $base-line-mobile * 1;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        font-size: $base-font-size / map-get(map-get($rwd-typography, "medium"), "type-scale");
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }

}

small,
code {
    line-height: 1.1rem;

    @include mappy-bp(baseline) {
        line-height: 1.2rem;
    }
}

pre code {
    line-height: $base-line-mobile;

    @include mappy-bp(baseline) {
        line-height: $base-line-gtmobile;
    }
}

small {
    font-size: $base-font-size / map-get(map-get($rwd-typography, "default"), "type-scale");

    @include mappy-bp(baseline) {
        font-size: $base-font-size / map-get(map-get($rwd-typography, "medium"), "type-scale");
    }
}

p,
ul,
ol,
pre,
dl {

    margin-top: $base-line-mobile * 1;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }
}

blockquote {
    margin: $base-line-mobile * 2;

    @include mappy-bp(baseline) {
        margin: $base-line-gtmobile * 2;
    }
}