html {
    font-size: $base-font-size;
}

/* debug */
body.debug {
    background-image: linear-gradient(transparent 19px, rgba(255,0,0,0.5) 19px);
    background-size: 20px 20px;

    @include mappy-bp(baseline) {
        background-image: linear-gradient(transparent 23px, rgba(255,0,0,0.5) 23px);
        background-size: 24px 24px;
    }
}


body {
    color: $primary-color;

    font-size: $body-font-size;
    line-height: $base-line-mobile;

    @include mappy-bp(baseline) {
        line-height: $base-line-gtmobile;
    }
}

h1 {
    font-size: font-scale(3,$scale-mobile);
    line-height: get-lineheight(3,$scale-mobile,$base-line-mobile);
    margin-top: $base-line-mobile * 2;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        font-size: font-scale(3,$scale-mobile-gtmobile);
        line-height: get-lineheight(3,$scale-mobile-gtmobile,$base-line-gtmobile);
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }
}

h2 {
    font-size: font-scale(2,$scale-mobile);
    line-height: get-lineheight(2,$scale-mobile,$base-line-mobile);
    margin-top: $base-line-mobile * 2;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        font-size: font-scale(2,$scale-mobile-gtmobile);
        line-height: get-lineheight(2,$scale-mobile-gtmobile,$base-line-gtmobile);
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }
}

h3 {
    font-size: font-scale(1,$scale-mobile);
    line-height: get-lineheight(1,$scale-mobile,$base-line-mobile);
    margin-top: $base-line-mobile * 1;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        font-size: font-scale(1,$scale-mobile-gtmobile);
        line-height: get-lineheight(1,$scale-mobile-gtmobile,$base-line-gtmobile);
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }
}

h4 {
    font-size: $body-font-size;
    line-height: $base-line-mobile;
    margin-top: $base-line-mobile * 1;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        font-size: $body-font-size;
        line-height: $base-line-gtmobile;
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }
}

h5,
h6 {
    //font-size: font-scale(-1);
    line-height: get-lineheight(-1,$scale-mobile,$base-line-mobile);
    margin-top: $base-line-mobile * 1;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        line-height: get-lineheight(-1,$scale-mobile-gtmobile,$base-line-gtmobile);
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }
}

small,
code {
    line-height: 1.1rem;
    
    //line-height: get-lineheight(font-scale(-1,$scale-mobile),$base-line-mobile - 0.05); //1.25rem - 0.05rem hack

    @include mappy-bp(baseline) {
        line-height: 1.2rem;
    //    line-height: get-lineheight(font-scale(-1,$scale-mobile-gtmobile),$base-line-gtmobile - 0.2); //1.5rem - 0.2rem hack
    }
}

pre code {
    line-height: $base-line-mobile;

    @include mappy-bp(baseline) {
        line-height: $base-line-gtmobile;
    }
}

small {
    font-size: font-scale(-1,$scale-mobile);

    @include mappy-bp(baseline) {
        font-size: font-scale(-1,$scale-mobile-gtmobile);
    }
}

p,
ul,
ol,
pre,
dl {
    font-size: $body-font-size;
    line-height: $base-line-mobile;
    margin-top: $base-line-mobile * 1;
    margin-bottom: $base-line-mobile * 1;

    @include mappy-bp(baseline) {
        line-height: $base-line-gtmobile;
        margin-top: $base-line-gtmobile * 1;
        margin-bottom: $base-line-gtmobile * 1;
    }
}

blockquote {
    margin: $base-line-mobile * 2;

    @include mappy-bp(baseline) {
        margin: $base-line-gtmobile * 2;
    }
}